$className: login-form;

.#{$className} {
  width: 100%;
  border: solid 1px $gray-light;
  padding: 1rem !important;
  border-radius: 4px;
}

.#{$className}__button {
  margin-top: 0.75rem;
}

.#{$className}__title {
  font-size: 1.15rem;
}
